---
import { SITE_TITLE } from '../consts';
---
<style>
	header {
		width: calc(100% - 2em);
		max-width: 100%;
		background-color: rgb(var(--gray-dark));
		color: white;
	}
	header nav {
		width: 820px;
		max-width: calc(100% - 2em);
		margin: auto;
	}
	header nav a {
		color: white;
		text-decoration: none;
		font-family: "Newsreader Variable", serif;
	}
	header nav a:hover {
		text-decoration: underline;
	}
</style>
<header>
	<nav>
			<a href="/"> Home</a>
	</nav>
</header>
